<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TesteSqlPrincipal.Properties.Settings.TestePrincipalConnectionString"
            connectionString="Data Source=OP3000\SQLEXPRESS;Initial Catalog=TestePrincipal;User ID=op3000;Password=334455"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>